
.project-contact-main-section{
    margin-top: 80px;
    padding: 0px 80px;
}
.project-contact-section{
    display: flex;
    flex-direction: row;
    background-color: rgb(19, 17, 32);
    padding: 60px;
    color: white;
    align-items: center;
    justify-content: space-around;
    border-radius: 14px;
    margin-bottom: -110px;
    z-index: 99;
    position: relative;
    
}

.project-contact-btn{
    padding: 12px 32px;
    border: 2px solid rgb(139, 194, 139);
    border-radius: 32px; 
  
}
.project-contact-btn:hover{
    background-color:rgb(81, 228, 176) ;
    color: black;
    transition-property: inherit;
    transition: 1s smooth;
} 

 @media (max-width:586px){
    .project-contact-btn{
        padding: 12px 32px;
        border: 2px solid rgb(139, 194, 139);
        border-radius: 32px; 
      
    }
}

@media (max-width:586px){

    .project-contact-section{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .project-contact-heading{

        margin-bottom: 28px;
        
    }
    .project-contact-para{
        margin-bottom: 28px;
        font-size:16px !important;
        font-weight:400;
    }
   
    .project-contact-btn {
        padding: 12px 12px;
        border: 2px solid rgb(139, 194, 139);
        border-radius: 32px;
        width: 10px; 
         display: block;
        margin: 0 auto ;
         text-align: center; 
      } 
      
 } 


 
  
  @media (max-width: 586px) {
    .project-contact-section {
      flex-direction: column;
      justify-content: space-around;
      text-align: center;
      padding: 30px; 
    }
  
    .project-contact-heading {
      margin-bottom: 28px;
      font-size: 24px; 
    }
  
    .project-contact-para {
      margin-bottom: 28px;
      font-size: 16px;
      font-weight: 400;
    }
  
    .project-contact-btn {
      width: 160px;
      margin: 0 auto 20px; 
    }
  } 
  
  