
.footer-main-container{
    background-color: blueviolet;
    height: 700px;
    display: flex;
    flex-direction: column;
   
    

}
.footer-section1{
    margin-top: 250px !important;
    font-size: 26px;
    margin: 0px auto;
    color: rgb(213, 209, 209);
}
.logo-cirlce{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 16px;
    background-color: transparent; 
    transition: background-color 0.3s ease;
    border: 2px solid rgb(177, 174, 174);
    /* padding: 10px; */
}
.logo-cirlce:hover{
    background-color: rgb(255, 255, 255);
}



.pi{
    font-size: 1.2rem;
    color: white;
    margin-left: 12px;
    margin-top: 12px;
}
.pi:hover {
    color: black !important;
}


.footer-section2{
    display: flex;
    margin: 0px auto;
    margin-top: 40px;
    /* width: 200px; */

    
}